.tile {
    display:grid;
    width: 100px;
    height: 100px;
    place-content: center;
}

.tile .chess-piece{
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    background-size: 100px;
}

.tile .chess-piece:hover{
    cursor: grab;
}

.tile .chess-piece:active{
    cursor: grabbing;
}

.white-tile{
    background-color: #F0D9B5;
}

.black-tile{
    background-color: #B58862;
}

.tile-highlight:not(.chess-piece-tile)::after{
    display:inline;
    content: " ";
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: rgba(0,0,0, 0.4);
}

.tile-highlight.chess-piece-tile::after{
    display:inline;
    position:absolute;
    content: " ";
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.4);
    width: 90px;
    height: 90px;
    background-color: rgba(0,0,0,0);

    /*radial-gradient(transparent 0%, transparent 79%, rgba(20, 85, 0, 0.3) 80%);*/
}
